.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    font-size: 1.2em;
    color: rgb(248, 248, 248);
    font-weight: 400;
}

.header div{
    box-sizing: border-box;
}

.header__logo{
    display: flex;
    flex-flow: row;
    font-size: 0.75em;
    color: rgb(218, 218, 218);
    background: rgb(18, 168, 81);
    width: 280px;
    margin-top: 25px;
    box-shadow: 0 0 1px 1px rgb(16, 170, 75);
}

.logo {
    height: 12vmin;
    pointer-events: none;
    margin-left: 10px;
}

.header__menu{
    box-sizing: border-box;
    margin-right: 160px;
    color: rgb(77, 77, 77);
    font-size: 1.1em;
}

.header__menu ul{
    margin: 0;
    padding: 20px 0 0 0;
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;
    width: 850px;
    border-bottom: 2px solid rgb(69, 235, 133);
}

.header__user{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgb(9, 148, 78);
    margin-top: 15px;
    width: 80px;
    margin-right: 10px;
    border-radius: 15px;
    height: 120px;
}

.header__user span{
    color: rgb(226, 226, 226);
    cursor: pointer;
    font-weight: 700;
}

.header__user img{
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
}

.header__menu-active{
    box-shadow: 0 0 2px 2px rgb(12, 185, 12);
    border-radius: 4px;
}

/* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */