.main{
    margin: 50px auto;
    height: max-content;
    width: 90%;
}

.goods__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.goods__wrapper .goods{
    background: rgb(238, 238, 238);
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 0 0 4px 4px rgb(231, 231, 231);
    width: 320px;
    height: 370px;
    margin: 50px;
}

.goods__wrapper .goods:hover{
    transition: 500ms;
    box-shadow: 0 0 5px 5px rgb(207, 207, 207);
}

.goods{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.goods img{
    width: 100%;
    height: 80%;
}

.goods .goods__price{
    background: rgb(18, 145, 35);
    border-radius: 15px;
    padding: 2px 15px;
    color: rgb(236, 236, 236);
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 400;
}

.goods .goods__title{
    font-size:1.1em;
    background: rgb(30, 184, 94);
    color: white;
}